# Environments
.env
.env.*
simulation.log


# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage

# Editor & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project Scratch Directories
scratch/
test_*.py
*.log
*.pdf
Census 1941/
Indian Data/
Pakistan Districts/

custom_regional_painted_divisions.json
gadm41_IND_1.json/
gadm41_IND_3.json/
gadm41_PAK_3.json/
table_11_balochistan_all.csv

# Large Data & Cache Files
data/*.geojson
data/blacklisted_models.json
